[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "rm -f package-lock.json client/package-lock.json",
  "npm install",
  "cd client && npm install && cd .."
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "node server.js"